<!DOCTYPE html>
<link rel="stylesheet" href="../CSS/stylehome.css">
<script src="../JS/homepage.js"></script>
<div class="container">
  <h1 class="title">ChatGPA</h1>
  <div class="card">
      <form>
          <input type="text" placeholder="Username" id="username">
          <input type="password" placeholder="Password" id="password">
          <div class="buttons">
              <button type="submit" class="login-button" onclick=login()>Login</button>
          </div>
      </form>
  </div>
</div>
</body>
</html>


